body{
  overflow-y: scroll;
}
.zoom-in{
  font-size: 16px;
  margin: 20px 150px;
}

.zoom-in h1{
  text-align: center;
}

/* Navbar toggle button */
.toggle{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  padding: 5px;
  background-color: #E8E8E8;
  color: #FE0000;
  cursor: pointer;
  text-align: center;
  
}
#offcanvasRight{
  width: 290px;
  background: #75ACD5;
  color: white;
}
.offcanvas.slide {
  transition-duration: 0.4s; 
}

/* Side navbar */
.sidenavbardiv{
  line-height: 10px;
}
.sidenavbardiv a{
  color: white;
  transition: 0.4s;
}
.sidenavbardiv a:hover, #navbarNavDropdown a:hover{
  color: red;
  transition: 0.4s;
}

.aboutchilds {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.aboutchilds.show {
  max-height: 1000px; 
  transition: max-height 0.9s ease-in-out;
}
.aboutchilds a{
  line-height: 15px;
} 


.rotate-down {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}

.rotate-down:not(.rotate) {
  transform: rotate(0);
}
.btnClose {
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.btnClose:hover {
  color: blue; 
  
}

.btnClose.rotate {
  transform: rotate(90deg); /* Rotate the icon to 90 degrees */
}


/* CustomerRelationshipManagement.css */
@keyframes ease-in-out-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-image {
  animation: ease-in-out-up-down 2s infinite;
}


/* dropdown hover related css start */
/* .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 9px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f0eded;
  color: black !important;
}

.dropbtn:hover .dropdown-content {
  display: block;
} */
/* dropdown hover related css end */
/* .additional-box {
  display: none; 
  position: absolute;
  top: 0;
  left: calc(100% + 10px); 
  background-color: #f0eded;
  min-width: 200px; 
  border: 1px solid #ccc;
  z-index: 1000;
}

.nav-item.dropbtn:hover .cloud-item + .dropdown-content + .additional-box {
  display: block; 
}

.additional-box li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc; 
}

.additional-box li:last-child {
  border-bottom: none; 
} */

/* customStyles.css */

.dropdown-menu {
 
  background-color: #f8f9fa; /* Change the background color */
  border-radius: 0 !important; /* Remove the border-radius */
  border: none !important;
  outline: none !important;
 
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
}

.dropdown-item {
  background-color: #f8f9fa; /* Match background color of dropdown item */
}

.dropdown-item:hover {
  background-color: #e9ecef; /* Change background color on hover */
}

.dropdown-menu .dropdown-item{
padding-top: 8px;
padding-bottom: 8px;
}
.dropdown-menu .dropdown-menu {
  position: absolute;
  top: 0;
  left: -61%; /* Position the nested dropdown to the left */
  margin-top: 0;
  
}
/* @media screen and (max-width: 991px) {
  #navbarNavDropdown{
    display: none;
  }
} */