
*{
  font-family: 'Poppins', sans-serif;
  
}
body{
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;
  color: #030250;
}
p{
   font-family: 'Poppins', sans-serif !important;
}
/* .zoom-in{
  font-size: 16px;
  margin: 20px 150px;
} */

.zoom-in h1{
  text-align: center;
}

/* Navbar toggle button */
.toggle{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  padding: 5px;
  background-color: #E8E8E8;
  color: #FE0000;
  cursor: pointer;
  text-align: center;
  
}
#offcanvasRight{
  width: 290px;
  background: #75ACD5;
  color: white;
}
.offcanvas.slide {
  transition-duration: 0.4s; 
}

/* Side navbar */
.sidenavbardiv{
  line-height: 10px;
}
.sidenavbardiv a{
  color: white;
  transition: 0.4s;
}
.sidenavbardiv a:hover, 
.industriesLink:hover, 
.solutionLink:hover{
  color: red;
  transition: 0.4s;
}

#navbarNavDropdown a{
  color:black;
}
#navbarNavDropdown #aboutusDropdown:hover, 
#industriesDropdown:hover, 
#solutionsDropdown:hover, 
#careersDropdown:hover , 
#servicesDropdown:hover,
#csrlink:hover,
#contactlink:hover,
#homelink:hover{
  color:red;
  transition: 0.4s;
}
.navbar.scrolled {
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* #navbarNavDropdown .dropdown a:hover{
  color: black;
} */
#navbarNavDropdown .dropdown a:active{
  background-color: white;
}

.aboutchilds {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.aboutchilds.show {
  max-height: 1000px; 
  transition: max-height 0.9s ease-in-out;
}
.aboutchilds a{
  line-height: 15px;
} 


.rotate-down {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}

.rotate-down:not(.rotate) {
  transform: rotate(0);
}
.btnClose {
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.btnClose:hover {
  color: blue; 
  
}

.btnClose.rotate {
  transform: rotate(90deg); /* Rotate the icon to 90 degrees */
}
.btns-box{
  margin-left:50px;
}


/* CustomerRelationshipManagement.css */
@keyframes ease-in-out-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-image {
  animation: ease-in-out-up-down 2s infinite;
}

/*Industries*/
#industries{
  background-image: url('https://infomericainc.com/Content/images/banner-8.jpg');
}
#enery{
  background-image: url('https://infomericainc.com/Content/images/industries-banner.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}

/* Animation to the dropdown menus */
@keyframes scaleDown {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown-menu {
  display: none; 
  animation: scaleDown 400ms ease-out;
  transform-origin: top center;
  background-color: #f8f9fa; 
  border-radius: 0 !important; 
  border-top: 3px solid blue !important;
  outline: none !important;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block; 
}

.dropdown-item {
  background-color: #f8f9fa;
}

.dropdown-item:hover {
  background-color: #e9ecef;
}

.dropdown-menu .dropdown-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.dropdown-menu .dropdown-menu {
  position: absolute;
  top: 0;
  left: -61%;
  margin-top: 0;
}

/* Loader component css */

/* .loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* Loader.css */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}

.loading-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}

.zoom-in {
  transform: scale(1.2);
}

.zoom-out {
  transform: scale(1);
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Dropdown hover line animation */
 .dropdown-menu li {
    margin-bottom: 2px;
}
.lineAnimation {
    display: inline-block;
    color:blue;
    text-decoration: none;
}
.lineAnimation::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: blue;
    transition: width .9s;
}
.lineAnimation:hover::after {
    width: 100%;
    transition: width .9s;
}

.btn-with-hover {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px; 
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  background-color: blue; 
  overflow: hidden; 
  transition: color 0.3s ease; 
  z-index: 1;
  border-radius: 8px;
}

.btn-with-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: red; 
  transition: left 0.4s ease; 
  z-index: -1; 
}

.btn-with-hover:hover::before {
  left: 0; 
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.image-layer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -ms-backface-visibility: hidden; 
  backface-visibility: hidden;  */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

.slide-img {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 9999;
  max-width: 100%;
  height: auto;
}

.img-para {
  position: absolute;
  font-size: 24px;
  z-index: 9999;
  bottom: 5%;
  right: 10%;
  color:#fe0000;
  letter-spacing: 15px;
}
.banner-para{
  font-size: 18px;
  line-height: 30px;
  width: 50%;
}
 .main-slider{
   width: 100%; 
  height: 90vh;
  overflow: hidden;
}
 .main-slider.slider-box {
  position: relative;
} 

.main-slider .slide {
  position: relative;
  height: 85vh;
}
.main-slider .content {
  position: absolute;
  z-index: 10000;
  top: 20%; 
}
.main-slider .btns-box .btn-one {
  display: inline-block;
  padding: 8px 16px;
  background: blue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.main-slider .btns-box .btn-one:hover {
  background: red;
} 

.main-slider .slide .image-layer{
  width: 100%;
  animation: zoomInBg 8s infinite alternate;
}

@keyframes zoomInBg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.cap {
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  font-size: 42px;
  }
  
  @keyframes move {
  
  from {left: 0px;}
  
  to {left: 10px;}
  
  }
 
.auto-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.content {
  text-align: left;
  margin-left: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.hidden {
  visibility: hidden;
}

@keyframes zoomIn {
  0% {
      transform: scale(1.2);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(1.2);
      opacity: 0;
  }
}

.cont-zoom-in {
  animation: zoomIn 0.5s ease-out forwards;
  margin-left: 50px;
  visibility: visible !important;
}

.cont-zoom-out {
  animation: zoomOut 0.5s ease-out forwards;
  visibility: visible !important;
}

.custom-dots {
  position: absolute;
  top:90vh; 
  left: 50%; 
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.dot {
  width: 10px; 
  height: 10px;
  border-radius: 50%;
  background-color: #ccc; 
  opacity: 0.7;
  margin: 0 5px; 
  cursor: pointer;
}

.dot.active {
  background-color: #eb3c3c; 
  opacity: 1;
}
/* footer start */
.flex-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  background-color: #E8E8E8;
  /* justify-items: center;  */
  padding: 10px; 
}
/* .nasscom{
  flex: 23%;
}
.keylinks{
  flex: 25%;
}
.getintouch{
  flex: 24%;
}
.followus{
  flex: 18%;
} */
.flexgrowdiv {
  padding: 20px;
}
.keylinks li{
  border-bottom: 1px solid rgb(41, 207, 210);
}
.nasscom img{
  /* width: 80px; */
  pointer-events: none;
}
.followus img{
  height: 40px;
  transition: transform 0.8s;
  cursor: pointer;
}
.followus img:hover{
  transform: rotate(360deg);
}
.keylinks a{
  color: rgb(40, 39, 39);
}
.keylinks a:hover{
  color: rgb(213, 150, 24);
}


/* footer end */
.testimonial-card {
  height: 315px;
  background-color: #E8E8E8;
  border-radius: 50px 0;
  margin-bottom: 30px;
}
.customCard .card{
  min-height: 19rem;
  height: auto;
}
/* Marquee code start */
.Marquee {
  /* color: rgb(228, 215, 215); */
  color: #e6e5e5;
  font-weight: 200;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%; 
  white-space: nowrap; 
}

.Marquee-content {
  display: flex;
  animation: marquee 25s linear infinite running;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Russo One', sans-serif !important;
}

.Marquee-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em; 
  transition: all 0.7s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}
/* Marquee code end */
/* scroll bar css start*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 6px; 
}
::-webkit-scrollbar-track {
  background: #dad7d7;
}
::-webkit-scrollbar-thumb:hover {
  background: red;
}
/* scroll bar css end*/

/* scroll to top button code start */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: rgb(63, 63, 229);
  opacity:0.9;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px 13px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    background-color: #2e82dc;
    color: #fff;
  }
}

.scroll-to-top.visible {
  display: block;
}
/* scroll to top button code end */

#homelink,
#aboutusDropdown,
#industriesDropdown,
#servicesDropdown,
#solutionsDropdown,
#contactlink,
#csrlink,
#careersDropdown {
  color: black;
  font-size: 16px;  
}
#navbarNavDropdown #aboutusDropdown:hover,
#industriesDropdown:hover,
#solutionsDropdown:hover,
#careersDropdown:hover,
#servicesDropdown:hover,
#csrlink:hover,
#contactlink:hover,
#homelink:hover {
  color: red;
  transition: 0.4s;
}
.textRed {
  color: red !important;
}

/* Gen AI css start*/
.features {
  padding: 60px 0;
}

.section-header {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  /* font-weight: 700; */
  margin-bottom: 20px;
}

.section-description {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}
.features-box {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  background: #fff;
  box-shadow: 10px 10px 10px rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  min-height: 230px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-box:hover {
  transform: scale(1.1);
}

.features-title {
  color: #111;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.features-box:hover .features-title {
  color: #c59c35;
}

.features-title:hover {
  text-decoration: none;
}

.features-description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

.features-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
  gap: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 330px;
  text-align: center;
}
.serviceGridItem{
  background-color: rgba(255, 255, 255, 0.8);
  width: 330px;
  height: 430px;
  text-align: center;
}
.ServicesContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 60px 50px 50px 50px;
  background-color: #ece9e9;
  border-radius: 20px;
}

.ServicesContainer .card {
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  min-height: 17.5rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  backdrop-filter: blur(10px);
}

.ServicesContainer .content {
  padding: 16px;
}

.ServicesContainer .content h3 {
  /* margin: 0 0 8px; */
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServicesContainer .content p {
  margin: 0;
}

.AIsolutionImg {
  margin-top: 150px;
}

.fullscreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen main{
  flex-grow: 1;
}

 .fullscreen2{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.fullscreen2 main{
  flex-grow: 1;
}
.features-container {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.feature-card {
  background: white;
  cursor: pointer;
  position: relative;
  padding: 40px 25px 10px 30px;
  color: #333;
  transition: all 0.3s ease-in;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px lightgray;
  border-top-left-radius: 42px;
  border-bottom-right-radius: 42px;
}

/* Top-left corner notch */
.feature-card::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 50px;
  height: 50px;
  background-color: #4169e1;
  z-index: 1;
  transition: all 0.5s ease-in;
}

/* Bottom-right corner notch */
.feature-card::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  background-color: #4169e1;
  z-index: 1;
  transition: all 0.5s ease-in;
}

/* Hover effect */
.feature-card:hover {
  background-color: #4169e1;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Hover effect for notches */
.feature-card:hover::before {
  background-color: #4169e1;
  transition: all 0.5s ease-in;
}

.feature-card:hover::after {
  background-color: #4169e1;
  transition: all 0.5s ease-in;
}

.zoomAnimation {
  transition: transform 0.2s;
}
.zoomAnimation:hover {
  transform: scale(1.1);
}
/* Gen AI css ends */
/* Cloud Mignarion start */

.ourcapabilities-grid , .ourserviceportfolio-grid{
  display: grid;
  gap: 16px;
}
.flip-card {
  min-height: 350px;
  height: 100%;
  width: 100%;
  max-width: 300px; 
  margin: 10px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: lightgray 7px 7px 15px;
}

.flip-card-front {
  /* background-color: rgb(14, 46, 78); */
  background-color: white;
  /*background-image: url("./Images/capability1.webp"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front h3 {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  margin:0px 40px;
  /* color: rgb(252, 251, 251); */
}
.portfoliohead{
  min-height: 80px;
}
.cloudmigrationImg{
  width: 20%;
}
.navbarleftIcons{
  margin-left: 10px;
}

/* Cloud Mignarion end */
  @media screen and (max-width:575.98px){
    .ServicesContainer {
      padding: 20px;
      height: 100%;
      grid-template-columns: repeat(1, 1fr);
    }
    .AIsolutionImg {
      margin-top: 50px;
    }
    .features-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: auto;
      padding: 10px;
    }
    .slide-img{
      width: 120px;
      height: 120px;
    }
    .slide-img {
      top: 5%;
      right: 6%;
    }
    .cap{
      font-size: 18px;
    }
    .img-para {
      font-size: 12px;
      bottom: 0%;
      right: 15%;
      color:#fe0000;
      letter-spacing: 6px;
    }
    .main-slider{
     height: 60vh;
   }
   .main-slider .slide {
    height: 50vh;
  }
   .main-slider .content {
    left: 0;
    top: 10%;
  }
  .banner-para{
    font-size: 0.9rem;
    line-height: 20px;
    width: 58%;
  }
  .main-slider .btns-box .btn-one {
    padding: 5px 6px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .cont-zoom-in {
    margin-left: 15px;
  }
  .btns-box{
    margin-left:15px;
  }
  .custom-dots {
    top:58vh;
  }
  /* .flexgrowdiv {
    flex: 100%;
  } */
  .flex-container {
    padding: 15px;
  }
  /* .nasscom img{
    width: 260px;
    height: 50px;
  } */
  .testimonial-card {
    height: auto;
  }
  .customCard .card{
    min-height: 17rem;
    height: auto;
    width: 19rem;
  }
  .ourcapabilities-grid , .ourserviceportfolio-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .zoomAnimation:hover {
    transform: scale(1.0);
  }
  .cloudmigrationImg{
    width: 100%;
   padding: 20px;
  }
 
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .ourcapabilities-grid,
  .ourserviceportfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex-container {
    padding: 15px;
  }
  .ServicesContainer {
    padding: 20px;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .AIsolutionImg {
    margin-top: 50px;
  }
  .slide-img{
    width: 120px;
    height: 120px;
  }
  .slide-img {
    top: 5%;
    right: 6%;
  }
  .cap{
    font-size: 18px;
  }
  .img-para {
    font-size: 12px;
    bottom: 0%;
    right: 15%;
    color:#fe0000;
    letter-spacing: 6px;
  }
  .main-slider{
   height: 60vh;
 }
 .main-slider .slide {
  height: 50vh;
}
 .main-slider .content {
  left: 0;
  top: 10%;
}
.banner-para{
  font-size: 0.9rem;
  line-height: 20px;
  width: 58%;
}
.main-slider .btns-box .btn-one {
  padding: 5px 6px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.cont-zoom-in {
  margin-left: 15px;
}
.btns-box{
  margin-left:15px;
}
.custom-dots {
  top:58vh;
}
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-description {
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .zoomAnimation:hover {
    transform: scale(1.0);
  }
 
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .ourcapabilities-grid,
  .ourserviceportfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactdiv {
    height: 530px;
  }
  .ServicesContainer {
    padding: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .ServicesContainer .content h3 {
    height: 100px;
  }
  .AIsolutionImg {
    margin-top: 50px;
  }
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
    .slide-img{
      width: 170px;
      height: 170px;
    }
    .slide-img {
      top: 5%;
      right: 6%;
    }
    .cap{
      font-size: 22px;
    }
    .img-para {
      font-size: 16px;
      bottom: 6%;
      right: 15%;
      color:#fe0000;
      letter-spacing: 10px;
    }
    .main-slider{
     height: 50vh;
   }
   .main-slider .slide {
    height: 45vh;
  }
   .main-slider .content {
    left: 0;
    top: 14%;
  }
  .banner-para{
    font-size: 14px;
    line-height: 20px;
    width: 58%;
  }
  .main-slider .btns-box .btn-one {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
  }
  .cont-zoom-in {
    margin-left: 30px;
  }
  .btns-box{
    margin-left:30px;
  }
  .custom-dots {
    top:50vh;
  }
  /* .flexgrowdiv {
    flex: 100%;
  } */
  .flex-container {
    padding: 15px;
  }
  .customCard .card{
    min-height: 21rem;
    height: auto;
  }
 
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .ourcapabilities-grid,
    .ourserviceportfolio-grid {
      grid-template-columns: repeat(4, 1fr);
    }
    .contactdiv {
      height: 530px;
    }
    .ServicesContainer {
      height: 300px;
      grid-template-columns: repeat(3, 1fr);
    }
    .ServicesContainer .card {
      min-height: 350px;
    }
    .features-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .flip-card {
      min-height: 380px;
    }
    .portfoliohead{
      min-height: 100px;
    }
    .flex-container {
      grid-template-columns: 1.5fr 1fr 1fr 1fr; /* 4fr for desktops */
      justify-items: center; /* Center content in each grid item */
      /* align-items: center; */
    }
    .navbarleftIcons{
      margin-left: 10px;
    }
    
  }
  
  @media (min-width: 1200px) {
    .ourcapabilities-grid,
    .ourserviceportfolio-grid {
      grid-template-columns: repeat(4, 1fr);
    }
    .contactdiv {
      height: 530px;
    }
    .ServicesContainer {
      height: 280px;
      grid-template-columns: repeat(3, 1fr);
    }
    .features-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .flex-container {
      grid-template-columns: 1.3fr 1fr 1fr 1fr; /* 4fr for desktops */
      justify-items: center; /* Center content in each grid item */
      /* align-items: center; */
    }
    .navbarleftIcons{
      margin-left: 120px;
    }
    
  }
  /* #e1f4e5 */
  /* #053f5e */

